{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active" aria-current="page">Github project</li>
{% endblock %}

{% block content %}
  <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="Username" class="form-label"><p class="fs-3">Github username</p></label>
      <input type="text" class="form-control" id="Username" name="username" required/>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
{% endblock %}
