{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active" aria-current="page">Github project</li>
{% endblock %}

{% block content %}
  <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="Username" class="form-label">
        {% if wrong_username %}
          <p class="fs-6">The username [<span class="text-danger">{{wrong_username}}</span>] is invalid, please try again</p>
        {% else %}
         <p class="fs-3">Input github username</p>
        {% endif %}
      </label>
      <input type="text" class="form-control" id="Username" name="username" required/>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
{% endblock %}
